/* Comentarios */
/* seletor de herança x y */
/* seletor pai e filho x > y */
/* seletor adjacente x + y */

div{
    width: 90%;
    margin: 0 auto;
}
.container{
    width: 90%;
    margin: 0 auto;
    border: 2px solid black;
    padding: 16px;
    border-radius: 8px;
}
div.container > h2{
    background-color: black;
    color: white;
    text-align: center;
}

body{
    margin-top: 20px;
}
h2{
    text-transform: uppercase;
}
main > p {
    background-color: red;
}

img ~ p {
    background-color: yellow;
}
img + p {
    background-color: blue;
    color: white;
}
.principal p:not(#teste){
    background-color: orange;
    font-size: 20px;
    text-transform: uppercase;
}