/*Começo navbar*/
header{
    background: #bbbb;
    padding: 20px 0;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav  a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

nav a:hover{
    color: #c78c19;
    text-decoration: none;
    
}
/*Fim navbar*/

/* Banner */
.banner {
	width:100%;
}
/*----------*/
/*Começo Conteudo*/
.principal{

}

.titulo-princial{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
}
.principal p{
    margin:  0 0 1em;
}
.principal strong{
    font-weight: bold;
}
.principal em{
    font-style: italic;
}
.imagembeneficios{
    width: 60%;
}

/*Fim Conteudo*/
/*Começo Footer*/ 
footer{
    text-align: center;
    background:url(bg.jpg);
    padding: 40px 0;
}


.Copyright{
 color: #ffff;
 font-size: 13px;
 margin-top: 20px;
}
/*Fim Footer*/ 